
.main .list li a {
    display: flex;
}
.main {
    width: 100%;
    background: darkkhaki;
    margin: 100px auto 0;
    max-width: 500px;
    padding: 20px;
    border: 0;
    border-radius: 20px;
}
.search label {
    color: rgb(72, 35, 35);
    font-size: 20px;
    display: block;
}
.search label input {
    height: 40px;
    width: 250px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 5px;
}
.search label button {
    padding: 8px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.search label button:hover {
    background: tomato;
}
.search label button:active {
    background: rgb(199, 110, 95);
}
.search {
    text-align: center;
    border-bottom: 2px solid white;
}
.search img {
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 15px;
    border-radius: 20px;
}
.search a {
    color: rgb(25, 13, 1);
    font-size: 20px;
    margin-right: 90px;
    text-decoration: none;
}
.search a:hover {
    background: white;
    padding: 5px;
    border-radius: 10px;
}
.login h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.login label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.login label input {
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 25px;
}
.login fieldset legend {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
}
.login fieldset textarea {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 70px;
}
.login .submit {
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
}
.login .submit:hover {
    background: darkolivegreen;
}
